.container-form {
  background-color: 012e40;
  padding-inline: 20px;
  padding-block: 10px;
  max-width: 500px;
}

.input-name {
  margin-top: 10px;
  max-width: 150px;
  height: 30px;
  border: none;
  outline: none;
}

select {
  margin-top: 10px;
  min-width: 100px;
  height: 30px;
  border: none;
}

.btn-add {
  background-color: #02735e;
  border: none;
  color: #c7ffed;
}
