.container-form {
  background-color: 012e40;
  padding-inline: 20px;
  padding-block: 10px;
  max-width: 500px;
}

.input-name {
  margin-top: 10px;
  border: none;
  outline: none;
}

select {
  margin-top: 10px;
  border: none;
}

.btn-add {
  margin-top: 10px;
  background-color: #02735e;
  padding-inline: 35px;
  color: #c7ffed;
}
