.container-toggler {
  margin: 0 auto;
  max-width: 500px;
}

.btn-toggler {
  background-color: #012e40;
  color: #c7ffed;
  border: none;
  outline: none;
}

.active {
  background-color: #038c65;
}

.btn {
}
